 h1{
    color: blue;
    text-align:center;
}

div{
    background-color: black;
    border: 3px solid green;
    padding: 20px;  /*inside the div*/
    margin: 20px; /*outside the div*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bolder;
    width: 500px;
    height: 400px;
}
        